body{
    margin: 0;
    padding: 0;
    background: #4062BB;
}

.nombre {
    width: 100%;
    height: 300px;
    background: #59C3C3;
    transform: skewY(/*deg=Grados*/ 5deg);
}

.nombre .img{
    position: absolute;
    top: 10%;
    right: 5%;
    width: 195px;
    height: 195px;
    border-radius: 100%;
    transform: skewY(-5deg);
    overflow: hidden;
}

.nombre .img img{
    width: 200px;
    height: 200px;
}

.nombre .contenedor{
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
}

.nombre .contenedor .pa-1{
    color: #fff8f0;
    font-family: 'Baloo Tamma 2', sans-serif;
    font-weight: bolder;
    font-size: 55px; /*65px*/
    transform: skewY(-5deg);
    margin-bottom: 0;
}

.nombre .contenedor .pa-2{
    color: #fff8f0;
    font-family: 'Baloo Tamma 2', sans-serif;
    font-size: 35px;
    transform: skewY(-5deg);
    margin-top: 0;
    margin-bottom: 0;
}

.info{
    width: 85%;
    height: auto;
    background: #59C3C3;
    margin:5% auto;
    padding: 20px;
    border-radius: 20px;
}

.info .titulo-info{
    color: #fff8f0;
    font-family: 'Baloo Tamma 2', sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    border-bottom: 4px #fff8f0 solid;
}

.info .titulo-1{
    color: #fff8f0;
    font-family: 'Baloo Tamma 2', sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 15px;
}

.info .info1{
    color: #392F5A;
    font-family: 'Baloo Tamma 2', sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;
}

table{
    width: 100%;
    border-collapse: collapse;
    font-family: 'Baloo Tamma 2', sans-serif;
}

th{
    text-align: center;
    font-family: 'Baloo Tamma 2', sans-serif;
    color: #fff8f0;
    font-weight: bolder;
    font-size: large;
}

td{
    color: #392F5A;
    font-family: 'Baloo Tamma 2', sans-serif;
    font-weight: normal;
    font-size: large;
    text-align: center;
}

th, td{
        padding: 0px;
}
