@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;600;800&display=swap');

*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Barlow';
}

body{
    background-image: url(../img/login_inicio.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 250px;
}

.contenedor-todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja-trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0,1,3,.3)
}

.caja-trasera div{
    margin: 100px 40px;
    color: #fff;
    transition: all 500ms;
}

.caja-trasera div p,
.caja-trasera div button{
    margin-top: 30px;
}

.caja-trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera div p{
    font-size: 16px;
    font-weight: 300;
}

.caja-trasera button{
    padding: 10px 40px;
    border-radius: 10px;
    border: 2px solid #fff;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    outline: none;
    transition: all 300ms;
}

.caja-trasera button:hover{
    background: #ff0000;
    color: #fff;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.logo img{
    width: 210px;
    height: 75px;
    align-self: center;
}

/* FORMULARIOS */
.contenedor-login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor-login-register form{
    width: 100%;
    padding: 80px 20px;
    background: #ff0000;
    position: absolute;
    border-radius: 20px;
}

.contenedor-login-register form h2{
    border-radius: 15px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.contenedor-login-register form input{
    border-radius: 15px;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

.contenedor-login-register form a{
    padding: 10px 30px;
    margin-top: 40px;
    text-decoration: underline;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.contenedor-login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    background: #fff;
    font-weight: 600;
    color: black;
    cursor: pointer;
    outline: none;
}

.formulario-login{
    opacity: 1;
    display: block;
}

.formulario-register{
    display: none;
}

/* RESPONSIVE DESIGNE */

@media  screen and (max-width: 850px) {
    main{
        margin-top: 50px;
    }

    .caja-trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja-trasera div{
        margin: 0px;
        position: absolute;
    }

    /* FORMULARIO */
    .contenedor-login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor-login-register form{
        position: relative;
    }
}
 


